html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f0e17;
    color: #fffffe;
}


nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

a {
    color: #fffffe;
    text-decoration: none;
}

.navdiv a {
    margin: 16px;
    font-size: 18px;
}

header{
    color: #fffffe;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 800px;
}

hr {
    height: 5px;
    background-color: #ff8906;
}

a:hover{
    background-color: #f25f4c;
    transition: background-color 0.8s ease;
    border-radius: 8px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.contact {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-bottom: 50px;
}

.sum {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 24px;
}

.edu ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 100px;
}

p {
    font-size: 16px;
}

li {
    font-size: 16px;
    line-height: 24px;
}

dt {
    font-size: 16px;
    line-height: 24px;
}

dd {
    font-size: 16px;
    line-height: 24px;
}

